# Ignore Mac system files
.DS_Store

# Ignore Node.js files
node_modules/
package-lock.json
yarn.lock

# Ignore turbo files
.turbo/

# Ignore Vite files
dist/

# Ignore test coverage files
coverage/

# Ignore VSCode files
.vscode/